<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	</head>

<body>
<div id="fade">
</div>

	<header>
	<script src="http://threejs.org/build/three.min.js"></script>
	</header>


<div class="animation">
<script>nodes()</script>
</div>
<div id="welcome">
	<h3>expand your knowledge </h3>
	<h3>and visualize your interests</h3>
	<h3>with thoughtly</h3><br>
	<button id="get_started"><%= link_to "get started >>", users_login_path %></button><br><br>
</div>

</div>


	</body>
</html>