<header>
  <h3>thoughtly.io</h3>
	<div id="fa">
	 <nav id="a"><%= link_to icon('home fa-2x'), root_path %></nav>	  
	 <nav id="c"><%= link_to icon('sign-in fa-2x'), users_login_path %></nav>
	</div>
</header>

<body>
	<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}


</body>