<header>
  <h3>thoughtly.io</h3>
	<div id="fa">
	  <%= link_to icon('home fa-2x'), root_path %></a>&nbsp;&nbsp;&nbsp;	  
	  <<%=link_to icon('lightbulb-o fa-2x'), %></a>&nbsp;&nbsp;&nbsp;
	 <%= link_to icon('sign-in fa-2x'), users_login_path %></a>
	</div>
</header>