<body>
<div id="fade">
</div>

<header>
  <h1>thoughtly.io</h1>
	<div id="fa">
	 <div id="a"><%= link_to icon('home fa-2x'), root_path %></div>	  
	 <div id="c"><%= link_to icon('sign-in fa-2x'), users_login_path %></div>
	</div>
</header>
	  <!-- <i class="fa fa-sign-in"></i> fa-sign-in -->
</body>