 <nav>
	<div id="logo"></div>
	<div id="fa">
	 <nav id="a"><%= link_to icon('home fa-2x'), root_path %></nav>	  
	 <nav id="c"><%= link_to icon('sign-in fa-2x'), users_login_path %></nav>
	</div>

</nav>
