html {
  height: 100%;
}

body {
  background: #385371;
  overflow:scroll;
  position:relative;
}

#fade{
  height: 100%;
  width: 100%;
  position: fixed;
  background: -webkit-linear-gradient(transparent 60%, #07121c);
  z-index: -1;
}

header {
  background-color: #273a4f;
  background-image: -webkit-linear-gradient(#273a4f, #060e18);
  color: white;
  top: 0;
  padding-left: 20px;
  padding-top: 5px;
  position: fixed;
  clear: both;
  width: 100%;
  display: block;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 0 0 0.2em #bbdaf9
}

h1 {
  font-size: 2.5em;
}

h1:hover {
  font-size: 2.5em;
  text-shadow: 0 0 0.7em #bbdaf9
}
h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.container {
  border: 1px dotted;
  border-left:none;
  border-right:none;
  margin: 1em;
  padding: 1em;
  overflow: auto;
  font-family: 'Ubuntu', sans-serif;
  color: #80c1ff;
  text-decoration:none;
}

.container:hover {
  opacity: 0.4;
  background-color: #07121c;
  color: white;
  font-weight: 600;
  text-shadow: 0 0 0.2em #bbdaf9;
}

#typography {
  margin-top: 3em;
}

#fa {
	text-align: center;
	text-decoration: none;
}

#fa:hover{
	text-shadow: 0 0 0.2em #bbdaf9
}



