$font-stack:    'Ubuntu', sans-serif;

$primary-color:  #0e1e2c;
$dark-primary:   darken( $primary-color, 5% );
$textcolor:      white;

$darkblue:       #07121C;

$lblue:          #45a4ff;
$lightblue:      lighten($lblue, 20%);
$lightbluedark:  darken($lightblue, 30%);  

/*darken($lightblue, 30%) replaces #273A4F*/
$headerblue:     #273A4F;
$headershadow:   #060E18;
$buttoncolor:    #c7c0de;
$link:           #6CF22E;
$greencolor:     #44E357;
$linkbright:     darken($greencolor, 80%);

$visited:        lighten($greencolor, 50%);
/*need to use jquery for font resizing*/

html {
  height: 100%;
}

body {
  /*background-image:url('lines.png');*/
  background-size: 100%;
  background-repeat: no-repeat;
  background: #0e1e2c;
  overflow:scroll;
  font-weight: 700;
  position:relative;
}

/*this is the transparent overlay, if things aren't working check out its z index*/
#fade{
  height: 100%;
  width: 100%;
  position: fixed;
  background: -webkit-linear-gradient(transparent 40%, $darkblue);
}

header {
  background-color: $headerblue;
  background-image: -webkit-linear-gradient($headerblue, $headershadow);
  color: $textcolor;
  top: 0;
  padding-left: 20px;
  position: fixed;
  clear: both;
  width: 100%;
  display: block;
  z-index: 5;
}

h1 {
  font-family: $font-stack;
  text-shadow: 0 0 0.01em $lightblue
}

h2 {
  font-size: 2.5em;
  font-family: $font-stack;
  color: white;
}

h2 {
  font-size: 1.5em;
}



h3 {
  font-size: 1.8em;
  font-family: $font-stack;
  font-weight: 200;
  color: #45a4ff;
}

#get_started a {
  text-decoration: none;
  color: $linkbright;
  margin-left: 20px;
  margin-right: 20px;
}

#get_started a:visited {
  text-decoration: none;
  color: $linkbright;
}

a {
  text-decoration: none;
  color: #C1BFB0;
}

a:visited {
  text-decoration: none;
  color: #C1BFB0;

}

/*for contents*/
.container-category {
  border: 2px solid;
  border-left: 5px solid #0e1e2c;
  border-right:none;
  margin: 0 auto;
  margin-bottom: 0.75em;
  padding: 1em;
  font-size: 1.75em;
  overflow: auto;
  font-family: $font-stack;
  color: $lightbluedark;
  text-decoration:none;
  word-wrap: break-word;

  #delete {
    float:right;
    font-size: small;
  }
}

.container-category:hover {
  opacity: 0.8;
  background-color: #214769;
  border-left: 5px solid rgb(31, 225, 1);
  text-shadow: 0 0 0.02em $lightblue;
}

.container-category a {
  /*color: #45a4ff*/
  color: $buttoncolor;
}




.container {
  border: 2px solid;
  border-left: 5px solid #0e1e2c;
  border-right:none;
  margin: 0 auto;
  margin-bottom: 0.75em;
  padding: 1em;
  font-size: 1.75em;
  overflow: auto;
  font-family: $font-stack;
  color: $lightbluedark;
  text-decoration:none;
  word-wrap: break-word;

  #delete {
    float:right;
    font-size: small;
  }
}

.container:hover {
  opacity: 0.8;
  background-color: #214769;
  border-left: 5px solid rgb(31, 225, 1);
  text-shadow: 0 0 0.02em $lightblue;
}

.container a {
  /*color: #45a4ff*/
  color: $buttoncolor;
}

div.container div {
  display: none;
  color: white;
  font-weight: 100;
  padding-top: 15px;
}

/*generic id for adding margin, can be redone*/
#typography {
  margin-top: 3em;
}

/*font awesome*/
#fa {
  text-align:left;

}
#a:hover, #c:hover{
  text-shadow: 0 0 0.2em $lightblue
}

/*welcome box on homepage*/
#welcome {
  text-align: center;
  background-color: $primary-color;
  width: 25%;
  margin: 0 auto;
  color: #45a4ff ;
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  top: 40%; left: 0; right: 0;
  margin: 0 auto;
  border: 5px solid #22486E;
  z-index: 10;
  border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}


/*sign in and sign out*/
#signin {
  text-align: center;
  background-color: $dark-primary;
  display: block;
  width: 300px;
  position: relative;
  top: 100px;
  margin: 0 auto;
  border: 1px solid $darkblue;
  padding-top: 30px;
  border-radius: 5px;
  z-index: 12;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

button {
  border: 1px solid white;
  padding: 8px;
  font-size: 1.3em;
  margin-top: 15px;
  border-radius: 3px;
  background-color: $buttoncolor;
  font-family: $font-stack;
}

button:hover {
  text-shadow: 0 0 0.01em white;
}

nav li {
  list-style-type: none;
  display: block;
  float: right;
  margin-right: 2%;
  padding-right: 20px;
}

nav { 
  height: 50px;
  width: 100%;
  padding-bottom: 12px;
  padding-top: 15px;
  padding-left: 20px;
  background: #314495;
  border-bottom: 2px solid $lightbluedark; 
}

nav #title {
  float: left;
  font-family: 'ubuntu';
  color: #C1BFB0;
  text-shadow: 0 0 0.05em $lightblue;
  font-size: 2.75em;
}

#category_name {
  color: #C1BFB0;
  font-size: 3.50em;
}

#user_email, 
#user_password, 
#user_password_confirmation {
  background-color: $textcolor;
  border-radius: 3px;
}

input:-webkit-autofill {
  color: #fff !important;
}

input {
  height: 30px;
  font-size: 20px;
}

.event {
  font-family: $font-stack;
}


