$font-stack:    'Ubuntu', sans-serif;

$primary-color:  #385371;
$dark-primary:   darken( $primary-color, 5% );
$textcolor:      white;

$darkblue:       #07121C;
$lightblue:      #BBDAF9; 
$lightbluedark:  darken($lightblue, 30%);  
/*darken($lightblue, 30%) replaces #273A4F*/
$headerblue:     #273A4F;
$headershadow:   #060E18;
$link: #6CF22E;

$visited:        lighten(orange, 30%);
/*need to use jquery for font resizing*/

html {
  height: 100%;
}

body {
  /*background-image:url('lines.png');*/
  background-size: 100%;
  background-repeat: no-repeat;
  background: $primary-color;
  overflow:scroll;
  position:relative;
}

/*this is the transparent overlay, if things aren't working check out its z index*/
#fade{
  height: 100%;
  width: 100%;
  position: fixed;
  background: -webkit-linear-gradient(transparent 80%, $darkblue);
}

header {
  background-color: $headerblue;
  background-image: -webkit-linear-gradient($headerblue, $headershadow);
  color: $textcolor;
  top: 0;
  padding-left: 20px;
  padding-top: 5px;
  position: fixed;
  clear: both;
  width: 100%;
  display: block;
  z-index: 5;
}

h1, h2 {
  font-family: $font-stack;
  text-shadow: 0 0 0.2em $lightblue
}

h1 {
  font-size: 2.5em;
}

h1:hover {
  font-size: 2.5em;
  text-shadow: 0 0 0.7em $lightblue
}
h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
  font-family: $font-stack;
  font-weight: 200;
  color: $textcolor;
}

a {
  text-decoration: none;
}

a:visited { 
  text-decoration: none; color: $visited; 
}

/*for contents*/
.container {
  border: 1px dotted;
  border-left:none;
  border-right:none;
  margin: 1em;
  padding: 1em;
  overflow: auto;
  font-family: $font-stack;
  color: $lightbluedark;
  text-decoration:none;
}

.container:hover {
  opacity: 0.4;
  background-color: $darkblue;
  color: $textcolor;
  font-weight: 600;
  text-shadow: 0 0 0.2em $lightblue;
}

/*generic id for adding margin, can be redone*/
#typography {
  margin-top: 3em;
}

/*font awesome*/
#fa {
  text-align:left;
}
#a:hover, #c:hover{
  text-shadow: 0 0 0.2em $lightblue
}

/*welcome box on homepage*/
#welcome {
  text-align: center;
  background-color: $dark-primary;
  width: 300px;
  position: absolute;
  top: 40%; left: 0; right: 0;
  margin: 0 auto;
  border: 1px solid $darkblue;
  z-index: 10;
  border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;

}

/*sign in and sign out*/
form {
  text-align: center;
  background-color: $dark-primary;
  display: block;
  width: 300px;
  position: relative;
  top: 100px;
  margin: 0 auto;
  border: 1px solid $darkblue;
  padding-top: 30px;
  border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

button {
  background: -webkit-linear-gradient(top, $lightblue, $primary-color);
  background-color: #323a40;
  padding: 5px 15px;
  color: $textcolor;
  font-family: $font-stack;
}



button:hover {
  border-top-color: $primary-color;
  background: #7a7a8a;
}

#user_email {
  background-color: $textcolor;
}

#user_password {
  background-color: $textcolor;
}