#contents {

}

#summary {
  margin-top: 1em;
  color: #45a4ff;
  margin-left: 10%;
  margin-right: 5%;
  font-family: 'ubuntu';
  line-height: 145%;  
  background: #16314b;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #2C2E33;
}


#viewport{

	border: 1px solid black;

	right: 5%;
}