#contents {
  width: 45%;
}

#summary {
  width: 45%;
  border: 1px solid white;
  position: absolute;
  right: 5%;
  top: 10%;
  color: white;
}

#viewport{
	position: relative;
	border: 1px solid black;
	position: absolute;
	right: 5%;
}