$lightblue:      #45a4ff; 
$lightbluedark:  darken($lightblue, 30%);  


#summary {
  margin-top: 1em;
  color: #45a4ff;
  border: 10px;
  font-size: 2.0em;
  margin-bottom: 2%;
  font-weight: 400;
  font-family: 'ubuntu';
  line-height: 145%;  
  background: $lightbluedark;
  padding: 0.75em;
  color: white;
  border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px black;
  /*box-shadow: 1px 1px 1px #2C2E33;*/
}

#content_list {
  width: 100%;
  margin-bottom: 100px;
}

canvas#viewport {
	border: 3px solid; 
  color: $lightbluedark;
  margin-top: 5;
  width: 100%;
}

.description {
  padding-top: 10px;
  color: white;
  font-weight: 100;
  display: none;
}

.expanded {
  height: 4em;
}

#category_show {
  padding: 5em;
}