<header>
  <h3>mythoughtly</h3>
	<div id="fa">
	  <%= link_to icon('home fa-2x'), root_path %></a>&nbsp;&nbsp;&nbsp;	  
	  <%=link_to icon('lightbulb-o fa-2x'), root_path %></a>&nbsp;&nbsp;&nbsp;
	 <%= link_to icon('sign-in fa-2x'), users_login_path %></a>
	</div>
</header>


<nav id="nav">
</nav>
	<% @user.categories.each do |category| %>
		<div class="container"><%= link_to category.name, user_category_path(@user, category) %></div>
	<% end %>
	<div class="container">Content Content</div>

</body>


  <h2></h2>

