<div class="container"><%= link_to "Content", user_categories_path(@current_user) %></div>

<% @user.categories.each do |category| %>
	<div class="container"><%= link_to category.name, user_category_path(@user, category) %></div>
<% end %>
