<% @current_user.categories.each do |category| %>
	<div class="container"><%= link_to category.name, user_category_path(@current_user, category) %>
  <span class="icons"><%= link_to 'Delete', "/users/#{@current_user.id}/categories/#{category.id}", method: :delete %></span>
  <span class="icons"><%= link_to 'update', "/users/#{@current_user.id}/categories/#{category.id}", method: :put %></span>
  </div>
<% end %>
