
<div id="summary">
	<%= @summary %>
	<br><br>
	<div id="wikipedia_attribution"><%= link_to 'source: Wikipedia', "#{lookup_wikipedia(@category)}" %></div>
</div>
<br>

<div id="contents">
	<h1 id="category_name"><%=@category.name%></h1>
	<ul><% @category.contents.each do |content| %>
		<% unless content.url == nil %>
			<li class="container"><%= link_to content.url, content.url %></li>
		<% end %>
	<% end %></ul>

	<canvas id="viewport" height="450" width="450"></canvas>
</div>



