
<h2 id="category_name"><%= @category.name %></h2>
<div id="contents">
<div id="summary">
	<%= @summary %>
</div>
	
	<ul><% @category.contents.each do |content| %>
		<% unless content.url == nil %>
			<li class="container"><%= link_to content.url, content.url %></li>
		<% end %>
	<% end %></ul>

<canvas id="viewport" height="450" width="450"></canvas>
</div>



